@import "skeleton/normalize";
@import "skeleton/skeleton";

body {
  background: #f5f5f5;
  font-family: 'Helvetica Neue', cursive;
}

h1, h2 {
  text-align: center;
}

nav {
  height: 24px;
  line-height: 1.375rem;
  -webkit-font-smoothing: auto;
  position: relative;
  z-index: 1000;
  display: block;
  color: #222;
  text-align: right;
  padding: 16px;
  background-color: #000;
  img {
    height: 24px;
    float: left;
  }
}

.student-grade-list{
  padding: 0;
  .student-grade-li {
    margin: 10px;
    list-style-type: none;
    display: inline-block;
    .grade-box {
      position: relative;
      width: 300px;
      border: 1px solid black;
      padding: 10px;
      img {
        height: 20px;
        width: auto;
        position: absolute;
        right: 5px;
        bottom: 5px;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.grade-marks-list{
  padding: 0;
  .grade-marks-li {
    margin: 10px;
    list-style-type: none;
    display: inline-block;
    .mark-box {
      width: 300px;
      border: 1px solid black;
      padding: 10px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.cohortsList{
  padding: 0;
  list-style-type: none;
  padding: 0;
  .cohortName {
    text-align: center;
    margin: 10px;
    list-style-type: none;
    display: inline-block;
    width: 300px;
    height: 50px;
    line-height: 50px;
    border: 1px solid black;
    padding: 10px;
    &:hover {
      cursor: pointer;
    }
  }
}

.submitButton, .submitMessage {
  text-align: center;
}
